body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  border-radius: 12px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
  padding: 30px;
}

.suggestion-container {
  padding: 50px;
} 

/* .suggestion-container, .prediction-container {
  
} */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-sizing: border-box;
}

 .button-group {
  display: flex;
  gap: 10px;
}

button[type="submit"],
.reset-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #0077cc;
  color: white;
}

button[type="submit"]:hover {
  background-color: #005fa3;
}

.reset-button {
  background-color: #e0e0e0;
  color: #333;
}

.reset-button:hover {
  background-color: #ccc;
}

.diet-section pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: sans-serif;
}

/* Container styling */
.diabetes-detector-container {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  max-width: 600px;
  margin: 10px;
  margin-right: 30px;
}

/* Heading styling */
.diabetes-detector-heading {
  text-align: center;
  color: #2c3e50;
}

/* Paragraph styling */
.diabetes-detector-paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #34495e;
  text-align: justify;
}

/* Footer styling */
.diabetes-detector-footer {
  font-size: 12px;
  color: #5e5e5e;
  font-style: italic;
  text-align: center;
}

/* Suggestions heading styling */
.diabetes-detector-suggestion-heading {
  font-size: 18px;
  color: #2c3e50;
  margin-top: 20px;
}

/* Suggestions list styling */
.diabetes-detector-suggestions-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #34495e;
}
